*.xmpi
*.xmpdata
*.toc
*.synctex.gz
*.out
*.log
*.blg
*.aux
*.bbl
*.idx
magisterij.pdf
magisterij.pyg
*.pygtex
*.pygstyle
*.pygstyle
*.fls
*.fdb_latexmk
magisterij.ilg
__latexindent_temp.tex
magisterij.ind
predstavitev.snm
predstavitev.pdf
predstavitev.nav
predstavitev.vrb
predstavitev.run.xml
predstavitev.bcf
magisterij.synctex(busy)
predstavitev-zagovor.nav
predstavitev-zagovor.pdf
predstavitev-zagovor.snm
predstavitev-zagovor.vrb
platnica.pdf
